.footer {
    background-color: #181818;
    color: #646464;
    padding-top: 40px;
}

.footer a{
    color: #646464;
}

.footer h4 {
    color: #fff;
}

.footer li {
    list-style:none;
    margin-bottom: 10px;
}

.footer li a {
    color: #646464;
}

.footerContainer {
    width: 1200px;
    margin: 0 auto;
    padding:20px 0;
}