.bc {
  background-color: #000;
  position: absolute;
  right: 0;
  top:0;
  left: 0;
  bottom: 0;
}

.header {
  height: 8vh;
  background-color: #1d1d21;
  width: auto;
  padding-left: 100px;
  color: #fff;
  font-size: 1.5rem;
  padding-top: 20px;
}


.sidebar {
  float: left;
  background-color: #1d1d21;
  z-index:899;
  height: 100vh;
  width: 80px;
  text-align: center;
  padding-top: 50px;
}

.inner {
  float: left;
  height: 100vh;
  width: 90vw;
  position: relative;
}

.video {
  width: 90vw;
  height: 92vh;
  position: relative;
}

.title {
  color: #fff;
}

.sidebar .item {
  color:rgba(255,255,255,.8);
  align-items: center;
  margin-bottom: 40px;
}

.sidebar .item:hover {
  cursor: pointer;
}

.sidebar .item a{
  color:rgba(255,255,255,.8)
}

.mask {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;
}