
.bannerContainer{
  padding:30px 0;
}

.bannerBox {
  height: 582px;
  width: 1515px;
  margin:0 auto;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgb(95 101 105 / 45%)
}

.video {
  height: 582px;
}